<footer class="bg-gray-800 text-gray-300 py-6 absolute inset-x-0 bottom-0 ">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4">
      <div class="mb-4 md:mb-0">
        <a href="/" class="text-xl font-bold text-white hover:text-teal-400 transition duration-300">
          Adrien CHOULET
        </a>
        <p class="text-sm mt-2">© 2025 MonSite. Tous droits réservés.</p>
      </div>
  
      <div class="flex space-x-4 justify-center items-center">
        <a href="/" class="hover:text-teal-400 transition duration-300">Accueil</a>
        <a href="/offres" class="hover:text-teal-400 transition duration-300">Offres</a>
        <a href="/contact" class="hover:text-teal-400 transition duration-300">Contact</a>
      </div>
      
    </div>
  </footer>
  